.smallImage {
  width: 75%;
  margin: 75px auto 0px;
}

.smallImage div {
  text-align: center;
  margin-top: 20px;
}

.personalInfo h3 {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 3px;
  margin-top: 25px;
}

.personalInfo a {
  text-decoration: underline;
}

.social-reference {
  background: rgba(150, 150, 150, 0.5);
  border-radius: 99px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: helvetica, arial, sans;
  font-size: 1rem;
  font-weight: bold;
  height: 2.2em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 2.2em;
  margin-right: 15px;
  margin-bottom: 5px;
}
