/* Styling for blogpage */

/* .content {
  margin-left: 40px;
} */

.blog a {
  color: black;
}

.header-title {
  margin-top: 0px;
  font-size: 30px;
  color: black;
}

.blogImage {
  background-position: center;
  background-size: cover;
  margin-top: 10px;
  height: 120px;
}

.blogImage:hover {
  filter: alpha(opacity=80);
  opacity: .5;
}

.blogpost-header {
border-radius: 99px;
display: inline-block;
/* height: 2.5em; */
/* font-size: 12px; */
vertical-align: middle;
/* margin-bottom: 15px; */
}

.blogpost-header span {
  font-size: 12px;
  vertical-align: middle;
}

.social-link {
      background: rgba(150, 150, 150, 0.5);
      border-radius: 99px;
      box-sizing: border-box;
      color: #fff;
      display: inline-block;
      font-family: helvetica, arial, sans;
      font-size: 1rem;
      font-weight: bold;
      height: 2.2em;
      line-height: 1;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      width: 2.2em;
      margin-right: 15px;
      margin-bottom: 5px;
    }

.blog ~ .blog {
  border-top: 1px dotted rgba(0, 0, 0, 0.5);
  padding-top: 2em;
}
