body,
html {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.name {
  display: none;
}

.smallName {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 271px;
}

.info {
  display: none;
}

body {
  padding: 30px 20px;
}

a {
  text-decoration: none;
}

p a {
  color: black;
  text-decoration: underline;
}

p a:visited {
  color: darkslategrey;
  text-decoration: none;
}

img {
  max-width: 100%;
}

p,
ul {
  font-size: 18px;
  line-height: 1.5em;
  max-width: 650px;
}

.header-title a {
  text-decoration: none;
}

.navButton {
  position: relative;
}

/* Small screens
------------------------------------------------- */

.container {
  max-width: 1400px;
}

aside h1 {
  margin: 0 0 15px 0;
  font-size: 45px;
  font-weight: normal;
  line-height: 1.1em;
}

aside p.info {
  line-height: 1.4em;
  font-size: 18px;
  text-align: justify;
}

aside nav {
  display: flex;
  justify-content: space-between;
  margin: 0px auto 40px;
}

aside nav a {
  flex: 1;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 25px;
  text-transform: lowercase;
  line-height: 1.5em;
  letter-spacing: 1px;
}

.projects .project:first-child h2 {
  margin-top: 0;
}

.project h2 {
  text-decoration: none;
  color: black;
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 1.1em;
  letter-spacing: 2px;
}

.project h2 small {
  font-size: 22px;
  display: block;
  line-height: 1.2em;
}

/* Larger screens
------------------------------------------------- */

@media only screen and (min-width: 850px) {
  body {
    padding: 40px 50px;
  }

  .container {
    display: flex;
  }

  .container aside {
    flex: 0 0 250px;
    margin-right: 30px;
  }

  aside nav {
    display: block;
  }

  aside nav a {
    flex: none;
    display: block;
  }

  aside p.info {
    font-size: 16px;
  }

  .container main {
    flex: 1;
  }

  .container aside {
    flex: 0 0 300px;
    margin-right: 50px;
  }

  .project h2 small {
    display: inline-block;
    margin-left: 15px;
  }

  .project h2 {
    margin-bottom: 15px;
  }

  .smallName {
    display: none;
  }

  .name {
    display: inline;
    color: black;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 36px;
  }

  .info {
    display: block;
  }

  .navButton:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
  }

  .navButton:hover:before {
    visibility: visible;
    width: 35%;
  }
}

/* Project detail
------------------------------------------------- */

.projectDetail h2 {
  font-size: 45px;
  font-weight: 300;
  margin: 0 0 18px 0;
  letter-spacing: 2px;
}

.projectDetail h3 {
  font-size: 22;
  font-weight: 300;
  margin: 0 0 18px 0;
  letter-spacing: 2px;
}

.imagesetup {
  margin-bottom: 25px;
}

.imagesetup span,
.blogcolumn span {
  font-size: 14px;
  display: block;
  margin-top: 10px;
  margin-left: 12px;
  max-width: 650px;
  line-height: 1.4em;
  color: darkslategrey;
}

.project img:hover {
  opacity: 0.9;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
