{% include Mininavigation.html %}

<div class="introtext"><p><strong>Simon M. Jensen</strong> <br>Currently a student at the
        <em>Interactive Telecommunications Program</em>. A graduate program at Tisch School
        of the Arts, New York University. This page is intended to display some of the projects
        I am currently working on. <span>My ambition is to learn new technical skills and
        use them to explore the human body in new ways. I currently hold a masters
        degree in Human Physiology from University of Copenhagen. </span></p>
        </div>

      <div class= "imagesetup">
      <div class="image"><img src="images/cd68.jpg" alt = "image"></div>
      <div class="image"><a href="http://127.0.0.1:4000/subpagesforprojects/breath/">
      <img src="images/Breath.jpg" alt = "image"></div></a>
      <div class="image"><a href="http://127.0.0.1:4000/subpagesforprojects/takethemoneyandrun/">
      <img src="images/Takethemoney.jpg" alt = "image"></div></a>
      <div class="image"><img src="images/sockets.jpg" alt = "image"></div>
      <div class="image">hello</div>
      <div class="image">hello</div>
      </div>
