

<!-- sketch -->

<div class="aroundSketch">
<iframe frameborder="0" style= "width: 420px; height: 420px;"  src="/blog_assets/2017-10-10/sketch/index.html" ></iframe>
</div>


<!-- image -->

<div class="aroundImage">
<img src="/blog_assets/2018-04-02/d3simplecircles.png"
     alt="circles">
</div>


<!-- code -->

<div>
{% highlight js %}
{% include /codeSnippets/2018-04-02.js %}
{% endhighlight %}
</div>

<!-- video -->

<!-- NOTE: Difference between vimeo and youtube be consistent on page  -->
<div class="aroundSketch">
<iframe src="https://www.youtube.com/embed/JPvkFC9IqZg" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>
