<div class="projects">
  <div class="project">
    <a href="/projects/openDesktop/"
      ><h2>Open Desktop<small>File sharing application</small></h2></a
    >
    <a href="/projects/openDesktop/"
      ><img src="/projects/openDesktop/exp1photo.png"
    /></a>
  </div>

  <div class="project">
    <a href="/projects/Participate/"
      ><h2>Participate<small>Remote computer control application</small></h2></a
    >
    <a href="/projects/Participate/"
      ><img src="/projects/Participate/test.png"
    /></a>
  </div>

  <div class="project">
    <a href="/projects/breath/"
      ><h2>Alive<small>Real time biological feedback</small></h2></a
    >
    <a href="/projects/breath/"><img src="/projects/breath/breath2.jpg"/></a>
  </div>

  <div class="project">
    <a href="/projects/MastersThesis/"
      ><h2>
        The Ageing Muscle<small>Masters Thesis, University of Copenhagen</small>
      </h2></a
    >
    <a href="/projects/MastersThesis/"
      ><img src="/projects/MastersThesis/SAcells.png"
    /></a>
  </div>

  <div class="project">
    <a href="/projects/GlucoseProject/"
      ><h2>Glucose Calendar<small>Daily glucose Tracker</small></h2></a
    >
    <a href="/projects/GlucoseProject/"
      ><img src="/projects/GlucoseProject/glucose1200.gif"
    /></a>
  </div>

  <div class="project">
    <a href="/projects/mosaic/"
      ><h2>Algorithmic Mosaic<small>Mosaic from algorithms</small></h2></a
    >
    <a href="/projects/mosaic/"><img src="/projects/mosaic/mosaic2.JPG"/></a>
  </div>

  <div class="project">
    <a href="/projects/Trends/"
      ><h2>Discovering Trends<small>Something about the project</small></h2></a
    >
    <a href="/projects/Trends/"><img src="/projects/Trends/untGif.gif"/></a>
  </div>

  <div class="project">
    <a href="/projects/liveWeb/"
      ><h2>
        Live-web:chat<small>Personal replacement for Skype and Facebook</small>
      </h2></a
    >
    <a href="/projects/liveWeb/"
      ><img src="/projects/liveWeb/blackBack.png"
    /></a>
  </div>
</div>
