<div class="projects">
  <div class="project">
    <a href="/projects/openDesktop/"
      ><h2>Open Desktop</h2>
      <p><small>File sharing application</small></p></a
    >
    <a href="/projects/openDesktop/"
      ><img src="/projects/openDesktop/newfront2.png"
    /></a>
  </div>

  <div class="project">
    <a href="/projects/breath/"
      ><h2>Alive</h2>
      <p><small>Real time biological feedback</small></p></a
    >
    <a href="/projects/breath/"><img src="/projects/breath/breath2.jpg"/></a>
  </div>

  <div class="project">
    <a href="/projects/Participate/"
      ><h2>Participate</h2>
      <p><small>Remote computer control application</small></p></a
    >
    <a href="/projects/Participate/"
      ><img src="/projects/Participate/test.png"
    /></a>
  </div>

  <div class="project">
    <a href="/projects/GlucoseProject/"
      ><h2>Glucose Calendar</h2>
      <p><small>Daily glucose Tracker</small></p></a
    >
    <a href="/projects/GlucoseProject/"
      ><img src="/projects/GlucoseProject/glucoseGif.gif"
    /></a>
  </div>

  <div class="project">
    <a href="/projects/MastersThesis/"
      ><h2>
        The Ageing Muscle
      </h2>
      <p><small>Masters Thesis, University of Copenhagen</small></p></a
    >
    <a href="/projects/MastersThesis/"
      ><img src="/projects/MastersThesis/SAcells.png"
    /></a>
  </div>

  <div class="project">
    <a href="/projects/mosaic/"
      ><h2>Algorithmic Mosaic</h2>
      <p><small>Mosaic from algorithms</small></p></a
    >
    <a href="/projects/mosaic/"><img src="/projects/mosaic/mosaic2.JPG"/></a>
  </div>

  <div class="project">
    <a href="/projects/Trends/"
      ><h2>
        Discovering Trends
      </h2>
      <p><small>Find popular online words and trends </small></p></a
    >
    <a href="/projects/Trends/"><img src="/projects/Trends/untGif.gif"/></a>
  </div>

  <div class="project">
    <a href="/projects/liveWeb/"
      ><h2>
        Live-web:chat
      </h2>
      <p><small>Custom built communication application</small></p></a
    >
    <a href="/projects/liveWeb/"
      ><img src="/projects/liveWeb/frontHello.png"
    /></a>
  </div>
  <!--
  <div class="project">
    <a href="/projects/RestAPI/"
      ><h2>
        Tangible Interfaces<small>RESTful wireless controllers</small>
      </h2></a
    >
    <a href="/projects/liveWeb/"
      ><img src="/projects/lightcontrol/lightcontrol.gif"
    /></a>
  </div> -->
</div>
