<h1>Simon Jensen</h1>
<p class="info">
  Researcher interested in the intersection between humans and technology. Dual
  masters degree holder with a MPS in Interactive Technology and a MSc. in Human
  Physiology. Interested in using programming languages to explore, create and
  promote new insights that impact humans. This page shows some of my current
  and previous projects.
</p>
<nav>
  <a href="/">Home</a> <a href="/blog/">Blog</a>
  <a href="https://github.com/simonmarqvard">Code</a> <a href="/about">About</a>
</nav>
