<div class="pageWrapper">
<div class="mainpagecolumns">
	<div class="navColumn">
		<div>
		 <ul>
			<li><a href="http://google.com"><strong>Home</strong></a></li>
			<li><a href="http://google.com"><strong>Blog</strong></a></li>
			<li><a href="http://google.com"><strong>Projects</strong></a></li>
			<li><a href="https://github.com/simonmarqvard"><strong>Code</strong></a></li>
		</ul>
		</div>
	</div>
	<div class="imageColumn">

  <!-- things to put in centercolumn  -->

  </div>
  </div>

  <div class="footer"> footer </div>

  </div>
